main {
  background-color: rgba(238, 242, 244, 0.66);
  height: 1000px; }
  main .container {
    width: 100%; }

.project-grid {
  background-color: rgba(238, 242, 244, 0.66);
  padding-left: 115px;
  padding-right: 115px;
  padding-top: 43px;
  padding-bottom: 45px; }

.filter-row {
  float: right; }
  .filter-row h2 {
    margin-right: 10.5px;
    vertical-align: middle; }
  .filter-row .sort-by {
    font-size: 14px;
    color: #a3a3a3;
    letter-spacing: 0.5px;
    display: inline; }
    .filter-row .sort-by a.btn {
      font-size: 14px;
      letter-spacing: 0.5px;
      color: #a3a3a3;
      border-radius: 4px;
      background-color: #ffffff;
      border: solid 1px rgba(200, 212, 216, 0.54);
      padding-left: 10px;
      padding-top: 5px;
      vertical-align: middle; }
  .filter-row .filters {
    display: inline;
    margin-left: 37px; }
    .filter-row .filters a.btn {
      vertical-align: middle;
      font-size: 14px;
      color: #ffffff;
      font-weight: 500;
      letter-spacing: -0.1px;
      background-color: #242424;
      border-radius: 2px;
      border-color: #ffffff;
      padding-left: 12px;
      padding-top: 6px; }
